name: metis-sepolia

services:
  l1dtl:
    image: metisdao/dtl:v0.2.6
    container_name: l1dtl
    restart: unless-stopped
    network_mode: host
    stop_grace_period: 30s
    env_file:
      - l1dtl.env
    healthcheck:
      test: ["CMD-SHELL", "curl http://127.0.0.1:7878"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 5s
    volumes:
      - "{{ SEPOLIA_PATH }}/l1dtl:/data"
    logging:
      driver: local

  l2geth:
    image: metisdao/l2geth:v0.3.9
    container_name: l2geth
    restart: unless-stopped
    network_mode: host
    stop_grace_period: 30s
    depends_on:
      l1dtl:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "is-l2geth-stalled"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 30s
    env_file:
      - l2geth.env
    volumes:
      - "{{ SEPOLIA_PATH }}/l2geth:/root/.ethereum"
    logging:
      driver: local
